body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, rgba(168,168,168,1) 0%, rgba(187,187,187,0.9423076923076923) 39%, rgba(255,255,255,1) 100%);
}

.calculator {
    width: 400px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.calculator, button {
    color: white;
}

.screen {
    width: 85%;
    height: 20%;
    background: rgb(88, 89, 90);
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.buttons-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 100px;
    height: 96px;
    font-size: 36px;
    background-color: rgb(129, 130, 131);
    border: 0.5px solid rgb(88, 89, 90);
}

.dark-btn {
    background-color: rgb(104, 105, 106);
}

button:active {
    background-color: rgb(180, 180, 181);
}

button:disabled:active {
    background-color: rgb(104, 105, 106);
}

#clear:active {
    background-color: rgb(129, 130, 131);
}

.operation, .equal-btn {
    background-color: rgb(242, 163, 60);
}

.operation:active, .equal-btn:active {
    background-color: rgb(192, 129, 46);
}

#zero {
    border-bottom-left-radius: 15px;
}

.equal-btn {
    border-bottom-right-radius: 15px;
}

li {
    display: inline-flex !important;
}